@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 27 29% 10%;
    --card: 60 56% 98%;
    --card-foreground: 27 29% 10%;
    --popover: 60 56% 98%;
    --popover-foreground: 27 29% 10%;
    --primary: 45 100% 50%;
    --primary-foreground: 27 29% 10%;
    --secondary: 60 20% 85%;
    --secondary-foreground: 27 29% 10%;
    --muted: 60 20% 88%;
    --muted-foreground: 27 29% 40%;
    --accent: 27 29% 50%;
    --accent-foreground: 60 56% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 85%;
    --ring: 45 100% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 27 10% 10%;
    --foreground: 60 56% 91%;
    --card: 27 10% 15%;
    --card-foreground: 60 56% 91%;
    --popover: 27 10% 15%;
    --popover-foreground: 60 56% 91%;
    --primary: 45 90% 45%;
    --primary-foreground: 27 29% 10%;
    --secondary: 27 10% 25%;
    --secondary-foreground: 60 56% 91%;
    --muted: 27 10% 20%;
    --muted-foreground: 60 20% 60%;
    --accent: 27 29% 60%;
    --accent-foreground: 27 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 10% 25%;
    --input: 27 10% 25%;
    --ring: 45 90% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
